@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&display=swap");

/* ====================================================================== */
/* STANDARD CSS RESET START */
/* ====================================================================== */
*,
*::before,
*::after {
    /* 1. Use a more-intuitive box-sizing model */
    box-sizing: border-box;
}
* {
    /* 2. Remove default margin */
    margin: 0;
}
/* Typographic tweaks! */
body {
    /* 3. Add accessible line-height */
    /* 4. Improve text rendering */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    /* 5. Improve media defaults */
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    /* 6. Remove built-in form typography styles */
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* 7. Avoid text overflows */
    overflow-wrap: break-word;
}
#root,
#__next {
    /* 8. Create a root stacking context */
    isolation: isolate;
}
/* ====================================================================== */
/* STANDARD CSS RESET END */
/* ====================================================================== */

/* 
- Mobile: 375px
- Desktop: 1440px
*/

:root {
    /*
		NOTE: Use transparency to get the colour variations necessary to match the design. 
		Hint: look into using `hsla()`. 
	*/
    --col-primary-light-red: hsl(0, 100%, 67%);
    --col-primary-orangey-yellow: hsl(39, 100%, 56%);
    --col-primary-green-teal: hsl(166, 100%, 37%);
    --col-primary-cobalt-blue: hsl(234, 85%, 45%);

    --col-summary-reaction-background: hsl(6, 100%, 98%);
    --col-summary-reaction-font: hsl(357, 72%, 67%);

    --col-summary-memory-background: hsl(42, 100%, 97%);
    --col-summary-memory-font: hsl(38, 89%, 68%);

    --col-summary-verbal-background: hsl(180, 44%, 96%);
    --col-summary-verbal-font: hsl(164, 58%, 46%);

    --col-summary-visual-background: hsl(240, 71%, 97%);
    --col-summary-visual-font: hsl(238, 52%, 42%);

    --col-primary-dark-font: hsl(248, 15%, 20%);
    --col-primary-light-font: hsl(242, 100%, 89%);

    --col-gradient-result-top: hsl(251, 100%, 63%);
    --col-gradient-result-bottom: hsl(241, 82%, 55%);
    --col-gradient-score-top: hsl(254, 70%, 46%);
    --col-gradient-score-bottom: hsl(246, 86%, 57%);

    --col-gradient-light-slate-blue: hsl(252, 100%, 67%); /* background */
    --col-gradient-light-royal-blue: hsl(241, 81%, 54%); /* background */
    --col-gradient-violet-blue: hsla(256, 72%, 46%, 1); /* circle */
    --col-gradient-persian-blue: hsla(241, 72%, 46%, 0); /* circle */

    --col-neutral-white: hsl(0, 0%, 100%);
    --col-neutral-pale-blue: hsl(221, 100%, 96%);
    --col-neutral-light-lavender: hsl(241, 100%, 89%);
    --col-neutral-dark-gray-blue: hsl(224, 30%, 27%);

    /* --font-family-fraunces: "Fraunces", serif;
    --font-family-hanken-grotesk: "Hanken Grotesk", sans-serif;
    --font-family-montserrat: "Montserrat", sans-serif; */
    --font-family-main: "Hanken Grotesk", sans-serif;
    --font-size-normal: 18px;
    --font-weight-light: 500;
    --font-weight-medium: 700;
    --font-weight-heavy: 800;

    --border-radius: 30px;
}

footer {
	background-color: lightcoral;
}

/* main-container */

.main-container {
	min-width: 300px;
    background-color: var(--col-neutral-white);
    font-family: var(--font-family-main);
    font-size: var(--font-size-normal);
    color: var(--col-neutral-dark-gray-blue);
}

/* main-container - result */

.result {
    color: var(--col-primary-light-font);
    /* background-image: linear-gradient(var(--col-gradient-light-royal-blue), var(--col-primary-cobalt-blue)); */
    background-image: linear-gradient(var(--col-gradient-result-top), var(--col-gradient-result-bottom));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 2.5em;
    gap: 1em;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/* main-container - result - result-heading */
.result-heading {
    font-size: 1rem;
}

/* main-container - result - result-score */
.result-score {
    /* background-image: linear-gradient(var(--col-neutral-dark-gray-blue), var(--col-primary-cobalt-blue)); */
    background-image: linear-gradient(var(--col-gradient-score-top), var(--col-gradient-score-bottom));
    height: 9em;
    width: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
}

.result-score span {
    font-size: 4rem;
    font-weight: var(--font-weight-medium);
    color: var(--col-neutral-white);
}

.result-description {
    font-size: 1rem;
}

.result-praise {
    color: var(--col-neutral-white);
    font-size: 1.5rem;
}

/* main-container - summary */

.summary {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 0.5em;
    /* grid-template-rows: repeat(3, 1fr); */
}

.summary-heading {
    font-size: 1.25rem;
}

.summary-sections {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 0.75em;
}

.summary-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: cyan;
    border-radius: 10px;
    padding: 0.75em;
}

.summary-section p {
    display: flex;
    gap: 0.5em;
}

.summary-section .strong {
    font-weight: var(--font-weight-heavy);
}

.summary-section .summary-reaction {
    background-color: var(--col-summary-reaction-background);
    color: var(--col-summary-reaction-font);
}

.summary-memory {
    background-color: var(--col-summary-memory-background);
    color: var(--col-summary-memory-font);
}

.summary-verbal {
    background-color: var(--col-summary-verbal-background);
    color: var(--col-summary-verbal-font);
}

.summary-visual {
    background-color: var(--col-summary-visual-background);
    color: var(--col-summary-visual-font);
}

.score-button {
    border: none;
    padding: 0.5em;
    color: var(--col-neutral-pale-blue);
    border-radius: 2em;
    background-color: var(--col-neutral-dark-gray-blue);
}

.score-button:hover {
	background-image: linear-gradient(var(--col-gradient-score-top), var(--col-gradient-score-bottom));
}

/* attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 550px) {
	body {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main-container {
		display: flex;
		max-width: 650px;
		border-radius: var(--border-radius);
		box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
	}

	.summary {
		flex: 1;
		justify-content: space-between;
	}

	.result {
		flex: 1;
		border-radius: var(--border-radius);
	}
}