@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&display=swap");

/* ====================================================================== */
/* STANDARD CSS RESET START */
/* ====================================================================== */
*,
*::before,
*::after {
    /* 1. Use a more-intuitive box-sizing model */
    box-sizing: border-box;
}
* {
    /* 2. Remove default margin */
    margin: 0;
}
/* Typographic tweaks! */
body {
    /* 3. Add accessible line-height */
    /* 4. Improve text rendering */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    /* 5. Improve media defaults */
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    /* 6. Remove built-in form typography styles */
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* 7. Avoid text overflows */
    overflow-wrap: break-word;
}
#root,
#__next {
    /* 8. Create a root stacking context */
    isolation: isolate;
}
/* ====================================================================== */
/* STANDARD CSS RESET END */
/* ====================================================================== */

/* 
- Mobile: 375px
- Desktop: 1440px
*/

:root {
    /*
		NOTE: Use transparency to get the colour variations necessary to match the design. 
		Hint: look into using `hsla()`. 
	*/
    --col-primary-light-red: hsl(0, 100%, 67%);
    --col-primary-orangey-yellow: hsl(39, 100%, 56%);
    --col-primary-green-teal: hsl(166, 100%, 37%);
    --col-primary-cobalt-blue: hsl(234, 85%, 45%);

    --col-gradient-light-slate-blue: hsl(252, 100%, 67%); /* background */
    --col-gradient-light-royal-blue: hsl(241, 81%, 54%); /* background */
    --col-gradient-violet-blue: hsla(256, 72%, 46%, 1); /* circle */
    --col-gradient-persian-blue: hsla(241, 72%, 46%, 0); /* circle */

    --col-neutral-white: hsl(0, 0%, 100%);
    --col-neutral-pale-blue: hsl(221, 100%, 96%);
    --col-neutral-light-lavender: hsl(241, 100%, 89%);
    --col-neutral-dark-gray-blue: hsl(224, 30%, 27%);

    /* --font-family-fraunces: "Fraunces", serif;
    --font-family-hanken-grotesk: "Hanken Grotesk", sans-serif;
    --font-family-montserrat: "Montserrat", sans-serif; */
    --font-family-main: "Hanken Grotesk", sans-serif;
    --font-size-normal: 18px;
    --font-weight-light: 500;
    --font-weight-medium: 700;
    --font-weight-heavy: 800;

    --border-radius: 30px;
}

footer {
    background-color: lightcoral;
}

/* main-container */

.main-container {
    background-color: var(--col-neutral-white);
    height: 100vh;
    width: 100vw;
    font-family: var(--font-family-main);
    font-size: var(--font-size-normal);
}

/* main-container - result */

.result {
    color: var(--col-neutral-light-lavender);
    background-image: linear-gradient(var(--col-gradient-light-royal-blue), var(--col-primary-cobalt-blue));
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2.5em;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/* main-container - result - result-heading */
.result-heading {
    font-size: 1rem;
}

/* main-container - result - result-score */
.result-score {
    background-image: linear-gradient(var(--col-neutral-dark-gray-blue), var(--col-primary-cobalt-blue));
    height: 9em;
    width: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.result-score span {
    font-size: 4rem;
    font-weight: var(--font-weight-medium);
}

/* main-container - summary */

.summary {
    padding: 0.5em 1.75em 2em 1.75em;
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(3, 1fr);
}

.summary > * {
    background-color: cyan;
}

/* attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
